# Gradle
.gradle/
build/
out/

# MacOS
.DS_Store

# IDEA
.idea/
*.iml
*.orig

# Python
*.pyc

# Python virtual environments
code/wizard/env
code/wizard/venv

# outputs
*.log

# c++
CMakeCache.txt
CMakeFiles
cmake_install.cmake

.watson_credentials.json
.smb_credentials.json
src/main/c++/pre_processors/facial_features/Makefile
