# Gradle
.gradle/
build/
out/

# MacOS
.DS_Store

# IDEA
.idea/
*.iml
*.orig

# Python
*.pyc

# Python virtual environments
code/wizard/env
code/wizard/venv

# outputs
*.log

.watson_credentials.json
.smb_credentials.json
